
body {
    display: block;
}


.nav {
    background-image: url('./startbootstrap-freelancer-gh-pages/assets/img/멍뭉이.JPG');
    background-size: cover;
    background-attachment: fixed;
    display: block;
    background-attachment: fixed;
    height:1015px;
    width:100%;
}

.sns-content {
    padding-left: 10%;
    width:100%;
    height:auto;
    background-color: white;
}

.name {
    padding: 35px 0px 32px 0px;
    width:100%;
    height:auto;
    background-color:rgb(221, 190, 186);
    text-align: center;
    margin: auto 0;
}

.description {
    font-family: 나눔스퀘어;
    font-weight: lighter;
    font-size: 18px;
    height: 230px;
    text-align: center;
    margin-top:540px;
    padding-top: 55px;
    background-color: white;
}

.line{
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(87, 73, 37);
    width : 5%;
    height : 20px;
}



#image-box {
    background-image: url("./startbootstrap-freelancer-gh-pages/assets/img/first.JPG");
    background-size:cover;
    width: 100%;
    height: 939px;
    /* background-repeat: no-repeat; */
}

.shop {
    background-color: transparent;
    border: 2px solid white;
    width: 20%;
    height: auto;
    font-size: 2.5em;
    font-family: 나눔스퀘어;
    font-weight:lighter;
    color: white;
    margin-left: 40%;
    margin-top: 50%;

}

.introduce-page {
    margin-left:3%;
    text-align: center;
    font-size: 1.5em;
    font-family: 나눔스퀘어;
    font-weight:lighter;
    margin-top: 40px;
    height:300px;
    width: 100%;
    /* display: inline; */
}

nav {
    margin: auto 0;
    width: 100%;
    height:95px;
    background-color: white;
    padding: 10px 0px 70px 0px;
}

.mar {
    height:30px;
    width: 100%;
}

.hr1 {
    background-color: saddlebrown;
    height:20px;
}

#summer {
    font-family: 나눔스퀘어;
    font-size: 35px;
    color:white;
    font-weight: lighter;
}

#mainName {
    font-family:Blacksword, "나눔스퀘어";
    font-size:50px;
    /* font-weight: bold; */
    margin-left: 20%;
    float: left;
}

#profile {
    font-size:0.7em;
    float:left;
    margin-left: 3%;
    margin-top: 3%;
}

#profile2{
    width:18%;
    margin-left: 26%;
    float:left;
}

#cart{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#meet {
    color:black;
    font-size:1.5em;
}

#nicenice {
    width:300px;
}

ul {
    margin-top: 60px;
    margin-left:11%;
    float:left;
}

ul :first-child {
    color:darkgoldenrod;
}

ul li {
    font-family: 나눔스퀘어;
    font-weight: lighter;
    font-size: 13px;
    float:left;
    margin-right: 45px;
}

.link-type:link{
    text-decoration: none;
}

.link-type:visited{
    text-decoration: none;
}

#meet:hover {
   color: bisque ;
}