
body {
    display: block;
}


.nav {
    background-image: url('./startbootstrap-freelancer-gh-pages/assets/img/멍뭉이.JPG');
    background-size: cover;
    background-attachment: fixed;
    display: block;
    background-attachment: fixed;
    height:1360px;
    width:100%;
}

.sns-content {
    padding-left: 10%;
    width:100%;
    height:auto;
    background-color: white;
}

.name {
    padding: 25px 0px 22px 0px;
    width:100%;
    height:auto;
    background-color: #DBB89A;
    text-align: center;
    margin: auto 0;
}

.description {
    font-family: 나눔스퀘어;
    font-weight: lighter;
    font-size: 18px;
    height: 230px;
    text-align: center;
    margin-top:900px;
    padding-top: 55px;
    background-color: white;
}

.description2 {
    font-family: 나눔스퀘어;
    /* font-weight: bold; */
    font-size: 22px;
    text-align: center;
    color:gray;
    background-color: white;
    line-height: 140%;
}

.line{
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(87, 73, 37);
    width : 5%;
    height : 20px;
}

.line2{
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(87, 73, 37);
    
    width : 50%;
    height : 20px;
}

.vi {
    width:100%;
    object-fit: fill;
}

#image-box {
    background-image: url("./startbootstrap-freelancer-gh-pages/assets/img/first.JPG");
    background-size:cover;
    width: 100%;
    height: 939px;
    /* background-repeat: no-repeat; */
}

.shop {
    background-color: transparent;
    border: 2px solid white;
    width: 20%;
    height: auto;
    font-size: 2.5em;
    font-family: 나눔스퀘어;
    font-weight:lighter;
    color: white;
    margin-left: 40%;
    margin-top: 50%;

}

.introduce-page {
    margin-left:3%;
    text-align: center;
    font-size: 1.5em;
    font-family: 나눔스퀘어;
    font-weight:lighter;
    margin-top: 40px;
    height:300px;
    width: 100%;
    /* display: inline; */
}

nav {
    margin: auto 0;
    width: 100%;
    height:95px;
    background-color: white;
    padding: 10px 0px 70px 0px;
}

.mar {
    height:30px;
    width: 100%;
}

.hr1 {
    background-color: saddlebrown;
    height:20px;
}

#summer {
    font-family: 나눔스퀘어;
    font-size: 2.1rem;
    color:white;
    font-weight: lighter;
}

#menu {
    float: left;
    height: 40px;
    margin-top: 20px;
}

#menu>li:hover {
    color: #D1B510;
}

.nav>ul {
    margin-top: 60px;
    float:left;
}

#menu>li {
    font-family: 나눔스퀘어;
    font-weight: lighter;
    font-size: 13px;
    float:left;
    padding:0px 25px;
}

#mainName {
    margin-right: 8%;
    font-family:Blacksword, "나눔스퀘어";
    font-size:50px;
    /* font-weight: bold; */
    margin-left: 20%;
    float: left;
}

#profile {
    font-size:0.7em;
    float:left;
    margin-left: 3%;
    margin-top: 3%;
}

#profile2{
    width:18%;
    margin-left: 26%;
    float:left;
}

#cart{
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#meet {
    color:black;
    font-size:1.5em;
}

#nicenice {
    width:300px;
}



.link-type:link{
    text-decoration: none;
}

.link-type:visited{
    text-decoration: none;
}

#meet:hover {
   color:bisque;
}

.sub-menu {
    text-align: center;
    /* border:1px solid black; */
    background-color: white;
    list-style-type: none;
    margin:0 -45px;
    padding:2px;
    position:absolute;
    opacity:0;
    visibility:hidden;
}

.sub-menu > li {
    padding:5px 2px;
    text-align: center;
    color:black;
    
}

.drop-menu {
    border: none; background-color: white;
}

#menu > li:hover #sub-menu{
    opacity:1;
    visibility: visible;
}

#sub-menu2 {
    margin:0 -25px;
}

#menu > li:hover #sub-menu2{
    opacity:1;
    visibility: visible;
}

#shop:hover {
    background-color: white;
    color:darkgoldenrod;
}

#std {
    text-align: center;
    font-weight: lighter;
}